// COLOR
$color-primary: #FFDC80;
$color-secondary: #ffc240;
$color-orange: #eca130;

$color-white: #fff;
$color-white-dark: #eee;

$color-gray-light-1: #e5e5e5;
$color-gray-light-2: #bebebe;

$color-black: #000;
$color-gray-dark-1: #333;

$color-red-dark: #d50000;

// LAYOUT

$deskop-size: 1330px;

$clr-primary: #ff0000;
$clr-dark-900: #17171e;
$clr-dark-800: #2c2c32;
$clr-dark-700: #2e2e34;
$clr-gray-500: #747478;
$clr-gray-400: #828285;
$clr-gray-300: #c2c2c2;
$clr-gray-icon: #747478;
$clr-gray-text: #8b8b8e;
$clr-gray-description: #a2a2a5;
$clr-light: #ffffff;

// - Specific colors
$body-bg: $clr-dark-900;
$body-fg: $clr-light;
$select-bg: $clr-gray-500;
$select-fg: $clr-light;

// Typography
$def-font-size: 16px;
$def-font-weight: normal;

// Sizes
// - Border radius
$radius-sm: 14px;
$radius-md: 22px;
