// COLOR
$color-primary: #FFDC80;
$color-secondary: #ffc240;
$color-orange: #eca130;

$color-white: #fff;
$color-white-dark: #eee;

$color-gray-light-1: #e5e5e5;
$color-gray-light-2: #bebebe;

$color-black: #000;
$color-gray-dark-1: #333;

$color-red-dark: #d50000;

// LAYOUT

$deskop-size: 1330px;
