*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background: rgba(255, 148, 1, 0.69);
  color: #fff;
}

html,
body {
  font-family: 'Oswald';
  font-weight:unset;
  scroll-behavior: smooth;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  padding:0;
}

img {
  max-width:100%;
  height:auto;
  vertical-align:middle;
}

.icon svg {
  width:24px;
  height:24px;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}