.intro {
  display:flex;
  align-items: center;
  min-height:800px;
  gap:40px;

  &__pic {
    flex:1;

    img {
      width:90%;
    }
  }

  &__content {
    flex-basis: 500px;
    margin-right:30px;
    display:flex;
    flex-direction: column;
    gap:20px;
  }
  
  &__heading {
    font-size:40px;
  }

  &__rating {
    display:flex;
    gap:8px;

    .icon svg {
      width:20px;
      height:20px;
    }
  }

  &__description {
    font-size:20px;
    line-height:1.5;
    margin-bottom:20px;
  }
}