.product {
  padding: 50px 20px;

  &__categories {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;

    &-box {
      width: 100px;
      height: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      cursor: pointer;
      transition: 150ms;

      &:hover {
        border: 1px solid rgb(165, 165, 165);
        border-radius: 5px;
      }

      &:active {
        border: 1px solid rgb(208, 208, 208);
        box-shadow: 0 0 5px rgb(130, 130, 130);
      }
    }
  }

  &__meals {
    padding: 20px 0;
    display:flex;
    gap:10px;
    width:100%;
  }

  &__card {
    min-width: 200px;
    padding:10px;
    height: auto;

    img {
      width:100%;
    }
  }
}
