.product {
  padding: 100px 20px;

  &__categories {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;

    &-box {
      width: 100px;
      height: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      cursor: pointer;
      transition: 150ms;

      &:hover {
        border: 1px solid rgb(165, 165, 165);
        border-radius: 5px;
      }

      &:active {
        border: 1px solid rgb(208, 208, 208);
        box-shadow: 0 0 5px rgb(130, 130, 130);
      }
    }
  }

  &__meals {
    padding: 20px 0;
    display: flex;
    gap: 10px;
    width: 100%;
  }

  &__card {
    padding: 10px;
    height: auto;
    border: 1px solid rgb(145, 145, 145);
    height: 300px;
    position:relative;
    transition:150ms;

    img {
      width: 100%;
    }

    &:hover {
      box-shadow: 0 0 5px rgb(55, 55, 55);
    }
  }

  &__card-content {
    height: 100%;
  }

  &__card-detail {
    border: none;
    width: 80%;
    height: 30px;
    background-color: #ffc240;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    border-radius: 50px;
    transition: 250ms;
    cursor: pointer;

    &:hover {
      background-color: #fab114;
    }
  }
}

.swiper-wrapper {
  padding-bottom: 50px;
}

.swiper-slide {
  aspect-ratio: 3 / 2;
}

.swiper-pagination {
  bottom: -10px;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
}
