// header-top
.header {
  width: 100%;
  min-height: 100px;

  &__container {
    max-width: $deskop-size;
    margin: 0 auto;
    padding: 0 10px;
  }
  // Header top
  &__top {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
  }

  &__brand {
    position:absolute;
    top:55%;
    left:50%;
    transform: translate(-50%, -50%);
  }

  &__phone {
   &__link {
     display:flex;
     align-items: center;
     gap:8px;
   }

   &-text {
     font-size:20px;
     margin-bottom:4px;
   }
  }

  &__address {
    display:flex;
    gap:6px;
    align-items: center;

    &-text {
      font-size:20px;
      margin-bottom:4px;
    }
  }

  // Header bottom
  &__bottom {
    display:flex;
    align-items: center;
    position:relative;
  }

  &__lang {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
    flex:1;

    a {
      display:flex;
      justify-content: center;
      align-items: center;
      outline: none;
      border: none;
      width:38px;
      height:38px;
      border-radius: 50%;
      cursor:pointer;
      background-color: transparent;
      font-weight:600;

      &:hover {
        color: $color-white;
        background-color: $color-secondary;
      }
    }
  }

  &__nav{
    &.sticky {
      position:fixed;
      top:20px;
      width:100%;
      height:40px;
      display:flex;
      justify-content: center;
      align-items: center;
      box-shadow:3px 0px 10px rgba(0,0,0,0.6);
      background-color:$color-white;
      z-index:99;
    }

    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

    ul {
      display:flex;
      gap:16px;
      
      a {
        font-weight:600;
        &.nuxt-link-active {
          color: $color-secondary;
        }
  
        &:hover {
          color: $color-orange;
        }
      }
    }
  }

  &__social {
    display:flex;
    gap:12px;
    align-items: center;

    & .icon {
      cursor: pointer;

      &:active {
        opacity: 0.7;
      }
    }
  }

  &__control {
    display: flex;
    gap:10px;
    align-items: center;
    margin-left:50px;

    & .icon {
      cursor: pointer;
    }
  }
}
