.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  z-index: 100;

  &__container {
    padding: 50px 20px;
    max-width: 500px;
    min-width: 300px;
    height: 90vh;
    background-color: #ffffff;
    position: relative;
    top: 5vh;
    overflow: auto;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  &__title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__pic img {
    object-fit: cover;
    max-height: 320px;
    width: 100%;
    border-radius: 5px;
  }

  &__youtube {
    color: #ffffff;
    background-color: red;
    padding: 5px 10px;
    border-radius: 9px;
    margin-left:auto;

    &:hover {
      background-color: rgba(red, 0.9);
    }
  }

  &__tag {
    display: flex;
    flex-wrap:wrap;
    padding: 10px 0;
    gap: 12px;

    & > div {
      display: flex;
      align-items: center;
      gap: 3px;
    }
  }

  &__text {
    background-color: #892b64;
    color: #e9a37e;
    padding: 3px 5px;
    border-radius: 5px;
  }

  &__tag div:last-of-type &__text {
    background-color: #264653;
    color: #eeeeee;
  }

  &__info {
    &-heading {
      font-size: 24px;
      background-color: lightsalmon;
      display: inline-block;
      padding: 0 10px;
      border-radius: 5px;
      margin: 10px 0;
      text-transform: uppercase;
    }

    &-instructions,
    &-ingredient {
      padding: 0 10px;
      line-height: 1.7;
    }

    &-ingredient {
      list-style-type: disc;
    }
  }
}
