.meal {
  &__wrapper {
    display: flex;
  }

  &__list {
    width: 100%;
    min-height: 500px;

    &-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
  }

  &__card {
    width: 31%;
    min-height: 380px;
    padding: 10px;
    border: 1px solid #bebebe;
    transition: 250ms;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &:hover &-pic{
      opacity: 0.3;
      
    }

    &-content {
      padding:10px 20px;
    }

    &-title {
      transition:250ms;
    }

    &:hover &-title {
      transform:translateY(-50px);
    }

    &-name {
      font-size:18px;
      color: #d57d1f;
      overflow:hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &:hover &-name {
      color: #ed2c49;
      white-space: normal;
      transform:translateY(10%);
    }

    &-buttons {
      display:flex;
      justify-content: space-around;
      position:absolute;
      bottom:-40px;
      transition:250ms;
      transition-delay:100ms;
      width:80%;
    }

    &:hover &-buttons {
      bottom:5%;
    }

    &-detail {
      border:none;
      width:150px;
      height:34px;
      background-color:$color-secondary;
      color:#ffffff;
      font-weight:bold;
      font-size:14px;
      border-radius:50px;
      transition:250ms;
      cursor:pointer;
    }

    &-collect {
      position: relative;
      top:5px;
    }
  }

}
